<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.android.museumapp">

    <application
        android:allowBackup="true"
        android:icon="@drawable/museum_logo_icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:icon,android:theme">
<!--
        <activity android:name=".UserActivity"></activity>
-->
        <activity
            android:name=".LoginOrders"
            android:label="База заказов"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".UserActivity"
            android:label="Редактирование заказа"
            android:parentActivityName=".ImportOrders" />

        <activity
            android:name=".ImportOrders"
            android:label="Заказы"
            android:parentActivityName=".LoginOrders" />
        <activity android:name=".OrderProcessed" />
        <activity
            android:name=".TicketsPage"
            android:label="Оформление заказа"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SecondActivity"
            android:label="@string/museum_name"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>